@-webkit-keyframes swipe {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipe {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: 'Nunito', arial;
}

a {
  text-decoration: none;
  color: black;
}

button {
  width: 150px;
  height: 50px;
  background-color: #f3e9f1;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 15px grey;
          box-shadow: 0px 1px 15px grey;
  border: none;
  outline-style: none;
  margin: 10px;
}

button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 1px 15px black;
          box-shadow: 0px 1px 15px black;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.header {
  width: 100%;
  height: 100px;
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 15px grey;
          box-shadow: 0px 1px 15px grey;
}

.header__logo > img {
  margin-left: 20px;
  height: 100px;
}

.header__panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__panier > i {
  margin: 30px;
  color: #333333;
}

main {
  width: 100%;
}

.footer {
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 1px 15px grey;
          box-shadow: 0px 1px 15px grey;
  margin-top: 50px;
}

.footer__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin: 20px 0 20px 0;
}

.bandeau {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc-produit {
  width: 100%;
  background-color: #f3e9f1;
}

.bloc-produit > h2 {
  text-align: center;
  padding: 20px;
}

.produit {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produit-un {
  width: 600px;
  height: 200px;
  -webkit-box-shadow: 0px 1px 15px grey;
          box-shadow: 0px 1px 15px grey;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.produit-un:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.produit-un__photo {
  width: 150px;
  height: 200px;
  border-radius: 20px 0 0 20px;
}

.produit-un__photo > img {
  padding: 5px;
  width: 140px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.produit-un__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 150px;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.produit-un__description > p {
  max-height: 100px;
  overflow: hidden;
  text-align: justify;
}

.section-produit {
  width: 100%;
  background-color: #f3e9f1;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 20px 20px 0;
}

.section-produit-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(128, 128, 128, 0.128);
  padding: 20px;
  /*max width 860px : bloc description width 500px*/
}

.section-produit-bloc__image {
  width: 500px;
  height: 500px;
  margin-right: 20px;
}

.section-produit-bloc__image > img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-produit-bloc__description {
  width: 300px;
  height: 500px;
  background-color: white;
  text-align: center;
}

.section-produit-bloc__description__model {
  font-size: 2em;
  font-weight: bold;
}

.section-produit-bloc__description__star > i {
  color: rgba(128, 128, 128, 0.9);
}

#confirmationpanier {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: rgba(110, 226, 104, 0.898);
}

#confirmationpanier > strong {
  text-decoration: underline;
}

/*PANIER*/
.section-panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-panier__produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-panier__produit__image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-panier__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-panier__total__texte {
  margin: 10px 50px;
}

.section-panier__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-panier__erreur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.section-formulaire {
  display: none;
}

.section-formulaire__bloc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-formulaire__bloc__titre {
  text-align: center;
}

.section-formulaire__bloc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-formulaire__bloc__form > input {
  border: solid black 2px;
  border-radius: 20px;
  padding-left: 10px;
}

.section-formulaire__bloc__form > input:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */