/*Boutons*/
button {
    width: 150px;
    height: 50px;
    background: linear-gradient(140deg, $color3 8%, $color2 100%);
    font-weight: bold;
    border-radius:20px;
    box-shadow: 0px 1px 10px grey;
    border: none;
    outline-style:none;
    margin: 10px;
    &:hover{
        transition: 0.2s;
        box-shadow: 0px 1px 15px black ;
        transform: scale(0.99);
    }
}