body {
  margin: 0;
  font-family: 'Nunito', arial;
}

/*Liens*/
a {
  text-decoration: none;
  color: black;
}

/*Boutons*/
button {
  width: 150px;
  height: 50px;
  background: linear-gradient(140deg, #e78b07 8%, #8f5BFE 100%);
  font-weight: bold;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 10px grey;
          box-shadow: 0px 1px 10px grey;
  border: none;
  outline-style: none;
  margin: 10px;
}

button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 1px 15px black;
          box-shadow: 0px 1px 15px black;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/*Header*/
.header {
  width: 100%;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 5px 15px grey;
          box-shadow: 0px 5px 15px grey;
  margin-bottom: 30px;
}

.header__logo > img {
  margin-left: 20px;
  height: 75px;
}

.header__panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__panier > i {
  margin: 20px;
  color: #333333;
}

/*Contenu*/
main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Bandeau sur chaque page*/
/*Titre bandeau*/
.bandeau {
  text-align: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Kaushan Script';
}

/*Footer*/
.footer {
  background-color: #f3e9f1;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 1px 15px grey;
          box-shadow: 0px 1px 15px grey;
  margin-top: 50px;
}

.footer__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin: 20px 0 20px 0;
}

/*------------------------------------------------INDEX.HTML---------------------------------------------------*/
/*Section ptodiuit INDEX*/
.bloc-produit {
  width: 100%;
}

.bloc-produit > h2 {
  text-align: center;
}

/*Bloc produit INDEX*/
.produit {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produit-un {
  background-color: #f3e9f1;
  width: 600px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 15px grey;
          box-shadow: 0px 0px 15px grey;
  border-radius: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media (max-width: 400px) {
  .produit-un {
    margin: 10px 0 10px 0;
  }
}

.produit-un:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.produit-un__photo {
  width: 200px;
  height: 200px;
  border-radius: 20px 0 0 20px;
}

.produit-un__photo > img {
  padding: 5px;
  width: 190px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.produit-un__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 150px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.produit-un__description > p {
  max-height: 100px;
  overflow: hidden;
  text-align: justify center;
}

/*Masque la description pour les petits ecrans*/
@media (max-width: 600px) {
  .descriptioncamera {
    display: none;
  }
}

/*------------------------------------------------PRODUIT.HTML---------------------------------------------------*/
.section-produit {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-produit-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3e9f1;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  padding: 20px;
}

@media (max-width: 900px) {
  .section-produit-bloc {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .section-produit-bloc {
    padding: 0;
    width: 100%;
  }
}

.section-produit-bloc__image {
  width: 500px;
  height: 500px;
}

@media (max-width: 600px) {
  .section-produit-bloc__image {
    text-align: center;
    width: 100%;
  }
}

.section-produit-bloc__image > img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  .section-produit-bloc__image > img {
    width: 90%;
  }
}

.section-produit-bloc__description {
  width: 300px;
  height: 500px;
  background-color: #f3e9f1;
  text-align: center;
}

@media (max-width: 900px) {
  .section-produit-bloc__description {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .section-produit-bloc__description {
    width: 90%;
  }
}

.section-produit-bloc__description__model {
  font-size: 2em;
  font-weight: bold;
}

.section-produit-bloc__description__star > i {
  color: rgba(128, 128, 128, 0.9);
}

/*Message de confirmation d'ajout au panier*/
#confirmationpanier {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: linear-gradient(159deg, #e78b07 8%, #8f5BFE 100%);
  border-radius: 20px;
}

@media (min-width: 900px) {
  #confirmationpanier {
    margin-left: 15px;
  }
}

/*------------------------------------------------PANIER.HTML---------------------------------------------------*/
.section-panier {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-panier__produit {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 300px) {
  .section-panier__produit {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.section-panier__produit__image {
  margin-left: -20px;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 300px) {
  .section-panier__produit__image {
    display: none;
  }
}

.section-panier__produit__prix {
  margin-left: 20px;
}

.section-panier__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-panier__total__texte {
  margin: 10px 50px;
}

.section-panier__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-panier__erreur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

/*Formulaire panier*/
.section-formulaire {
  display: none;
}

.section-formulaire__bloc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-formulaire__bloc__titre {
  text-align: center;
}

.section-formulaire__bloc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-formulaire__bloc__form > input {
  border: solid black 2px;
  border-radius: 20px;
  padding-left: 10px;
}

.section-formulaire__bloc__form > input:focus {
  outline: none;
}

/*------------------------------------------------COMMANDE.HTML---------------------------------------------------*/
.section-commande {
  text-align: center;
}

.section-commande__validcommande {
  padding: 10px;
}

.section-commande__img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */