
/*------------------------------------------------INDEX.HTML---------------------------------------------------*/
/*Section ptodiuit INDEX*/
.bloc-produit{
    width: 100%;
    &>h2{
        text-align: center;
        
    }
}

/*Bloc produit INDEX*/
.produit{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-un{
        background-color: $color1;
        width: 600px;
        height: 200px;
        box-shadow: 0px 0px 15px grey;
        border-radius: 20px;
        margin: 20px;
        @media (max-width: 400px) {
            margin : 10px 0 10px 0;
        }
        display: flex;
        cursor: pointer;
        &:hover {
            transition: all 0.2s ease-in-out;
            transform: scale(0.99);
        }
        
        &__photo{
            width: 200px;
            height: 200px;
            border-radius: 20px 0 0 20px;
            &>img {
                padding: 5px;
                width: 190px;
                height: 190px;
                object-fit: cover;
                border-radius: 20px 0 0 20px;
            }   
        }
        
        &__description{
            flex: 1;
            height: 150px;
            text-align: center;
            justify-content: center; 
            border-radius: 0 20px 20px 0;
            padding: 10px;
            align-items: center;
            padding: 10px;
            &>p {
                max-height: 100px;
                overflow: hidden;
                text-align: justify center;
            }
        }
    }
}
/*Masque la description pour les petits ecrans*/
.descriptioncamera{
    @media (max-width: 600px) {
        display : none;
    }
}

/*------------------------------------------------PRODUIT.HTML---------------------------------------------------*/
.section-produit{
    width: 100%;  
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-bloc{
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        background-color: $color1;
        border-radius: 20px;
        box-shadow: 0px 0px 5px grey;
        padding: 20px;
        @media (max-width: 900px) {
            width: 500px;
        }
        @media (max-width: 600px) {
            padding: 0;
            width: 100%;
        }

        &__image{
            width: 500px;
            height: 500px;
            @media (max-width: 600px) {
                text-align: center;
                width: 100%;   
            }
            &>img{
                width: 500px;
                height: 500px;
                object-fit: cover;
                @media (max-width: 600px) {
                width: 90%;
                }
            }
        }
        &__description{
            @media (max-width: 900px) {
                width: 500px;
                }
            @media (max-width: 600px) {
                width: 90%;
                }
            width: 300px;
            height: 500px;
            background-color: $color1;
            text-align: center;

            &__model{
                font-size: 2em;
                font-weight: bold;
            }

            &__star{
                &>i {
                    color: rgba(128, 128, 128, 0.9);
                }   
            }
        }
    }
}
/*Message de confirmation d'ajout au panier*/
#confirmationpanier{
    display: none;
    flex-direction: row-reverse;
    background: linear-gradient(159deg, $color3 8%, $color2 100%);
    border-radius: 20px;
    @media (min-width : 900px){ 
        margin-left: 15px;
    }
}

/*------------------------------------------------PANIER.HTML---------------------------------------------------*/

.section-panier{
    width: 300px;
    display: flex;
    flex-direction: column;
        &__produit{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        @media (max-width : 300px){
            justify-content: space-around;
        }
            &__image{
                margin-left: -20px;
                width: 100px;
                height: 100px;
                object-fit: cover;
                @media (max-width : 300px){
                    display: none;
                }
                
            }
            &__prix{
                margin-left: 20px ;
            }
        }
        &__total{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__texte {
                margin: 10px 50px;
            }
        }
        &__clear{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__erreur{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 50px;
        }
}

/*Formulaire panier*/
.section-formulaire{
    display: none;
    &__bloc{
        align-items: center;
        &__titre{
            text-align: center;
        }
        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            &>input{
                border: solid black 2px;
                border-radius: 20px;
                padding-left: 10px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}

/*------------------------------------------------COMMANDE.HTML---------------------------------------------------*/
.section-commande {
    text-align: center;
    &__validcommande{
        padding: 10px;
    }
}