
.bandeau{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}


.bloc-produit{
    max-width: 100%;
    background-color: $color1;
    &>h2{
        text-align: center;
        padding: 20px;
    }
}

.produit{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &-un{
        width: 600px;
        height: 200px;
        box-shadow: 0px 1px 15px grey;
        border-radius: 20px;
        background-color: white;
        margin: 20px;
        @media (max-width: 400px) {
            margin : 10px 0 10px 0;
        }
        display: flex;
        cursor: pointer;
        &:hover {
            transition: all 0.2s ease-in-out;
            transform: scale(0.99);
        }
        
        &__photo{
            width: 200px;
            height: 200px;
            border-radius: 20px 0 0 20px;
            &>img {
                padding: 5px;
                width: 190px;
                height: 190px;
                object-fit: cover;
                border-radius: 20px 0 0 20px;
            }
            
        }
        

        &__description{
            flex: 1;
            height: 150px;
            text-align: center;
            justify-content: center;
           
            
            border-radius: 0 20px 20px 0;
            padding: 10px;
            align-items: center;
            padding: 10px;
            &>p {
                max-height: 100px;
                overflow: hidden;
                text-align: justify center;
            }
        }
    }
}
.descriptioncamera{
    @media (max-width: 600px) {
        display : none;
    }
}

.section-produit{
    width: 100%;
    background-color: $color1;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    &-bloc{
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        background-color:rgba(128, 128, 128, 0.128);
        padding: 20px;
        @media (max-width: 900px) {
            width: 500px;
        }
        @media (max-width: 600px) {
            padding: 0;
            width: 100%;
            
        }

        /*max width 860px : bloc description width 500px*/
        
        &__image{
            width: 500px;
            height: 500px;
            @media (max-width: 600px) {
                text-align: center;
                width: 100%;
                
            }
            
            
           
            &>img{
                width: 500px;
                height: 500px;
                object-fit: cover;
                @media (max-width: 600px) {
                width: 90%;
                
                }
            }
        }

        &__description{
            @media (max-width: 900px) {
                width: 500px;
                }
            @media (max-width: 600px) {
                width: 90%;
                
                }
            width: 300px;
            height: 500px;
            background-color: white;
            text-align: center;
            

            &__model{
                font-size: 2em;
                font-weight: bold;
            }

            &__star{
                &>i {
                    color: rgba(128, 128, 128, 0.9);
                }   
            }

            &__texte{
            }

            &__prix{
                
            }
        }
    }
}

#confirmationpanier{
    display: none;
    flex-direction: row-reverse;
    background-color: rgba(110, 226, 104, 0.479) ;
    border: solid 1px rgba(110, 226, 104, 0.898);
}

/*PANIER*/

.section-panier{
    width: 300px;
    display: flex;
    flex-direction: column;
    
    
        &__produit{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
            &__image{
                margin-left: -20px;
                width: 100px;
                height: 100px;
                object-fit: cover;
                
            }
            &__prix{
                margin-left: 20px ;
            }
        }
        &__total{
            display: flex;
            justify-content: center;
            align-items: center;
                &__texte {
                    margin: 10px 50px;
                }
        }
        &__clear{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__erreur{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 50px;
        }
}


.section-formulaire{
    display: none;
    &__bloc{
        
        align-items: center;
        &__titre{
            text-align: center;
        }
        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            &>input{
                border: solid black 2px;
                border-radius: 20px;
                padding-left: 10px;
                &:focus{
                    outline: none;
                    
                    
                }
            }

        }
    }
}


.section-commande {
    text-align: center;
    &__validcommande{
        padding: 10px;
    }
}